## Load packages

In [1]:
## helpful packages
import pandas as pd
import numpy as np
import random
import re
import os

## repeated printouts
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

## 0.1 Load data (0 points)

Load the following dataset stored in `pset3_inputdata`&mdash;`debar.csv`&mdash;storing it as a dataframe named `debar`. This represents employers temporarily banned from hiring workers.

View the `head()` and columns of this dataframe.

In [2]:
## your code here

debar = pd.read_csv("pset3_inputdata/debar.csv", low_memory=False)

debar.head()
debar.shape
debar.info

,Name,"City, State",Violation,Duration,Start date,End date
0,J&J Harvesting,"Leads, ND",Failure to respond to audit (partial response),2 years,1/19/2014,1/18/2016
1,"Stahlman Apiaries, Inc","Selby, SD",Failure to respond to audit (partial response),1 year,2/19/2015,2/14/2016
2,Trust Nursery,"Pulaski, NY",Failure to respond to audit (partial response),1 year,3/21/2014,3/20/2015
3,Anton Fertilizer Inc.,"Dighton, KS",Failure to respond to audit (no response),2 years,3/30/2014,3/29/2016
4,"Great Plains Fluid Service, Inc.","Greensburg, KS",Failure to respond to audit (no response),2 years,3/30/2014,3/29/2016

(114, 6)

<bound method DataFrame.info of                                             Name       City, State  \
0                                 J&J Harvesting         Leads, ND
1                         Stahlman Apiaries, Inc         Selby, SD
2                                  Trust Nursery       Pulaski, NY
3                          Anton Fertilizer Inc.       Dighton, KS
4               Great Plains Fluid Service, Inc.    Greensburg, KS
..                                           ...               ...
109                             Dove Creek Farms  Mount Vernon, TX
110                                Jesus Ledesma      Mulberry, FL
111                                 Turner Farms         Healy, KS
112  B & R Harvesting and Paul Cruz (individual)  Collins, Georgia
113                                  Delia Rojas    Lyons, Georgia

                                             Violation  Duration Start date  \
0       Failure to respond to audit (partial response)   2 years  1/19/2014
1       Failure to respond to audit (partial response)    1 year  2/19/2015
2       Failure to respond to audit (partial response)    1 year  3/21/2014
3            Failure to respond to audit (no response)   2 years  3/30/2014
4            Failure to respond to audit (no response)   2 years  3/30/2014
..                                                 ...       ...        ...
109                Failure to Respond to Audit Request   2 years   2/9/2018
110                Failure to Respond to Audit Request   2 years     2/8/18
111  Failure to comply with the employer's obligati...  7 months    7/17/19
112                                      WHD Debarment   3 years     4/9/17
113                                      WHD Debarment   3 years    4/14/17

      End date
0    1/18/2016
1    2/14/2016
2    3/20/2015
3    3/29/2016
4    3/29/2016
..         ...
109   2/8/2020
110     2/8/20
111    2/10/20
112     4/9/20
113    4/14/20

[114 rows x 6 columns]>

The most notable column names mean as follows:
- `Name`:	Company name of agricultural employer
- `City, State`:	City and state where employer located
- `Violation`:	Type of program violation
- `Start date`:	Start date of debarment (temporary ban)

## 0.2 Inspect data (1 point)

Print the number of rows in `debar` versus the number of unique employer names (`Name`). Is there one row per employer or multiple rows for some employers?

In [3]:
## your code here
len(debar)
debar["Name"].nunique()

print("Difference: ", len(debar) - debar["Name"].nunique())

114

98

Difference:  16

There are multiple rows for some employers, because there are 16 more rows than there are unique employer names (Name)

# 1. Reshape data and check duplicates (19 points total)

## 1.1 Make indicator for violation number (2 points)

To make it possible to reshape data, make an indicator for the violation number for each business. The indicator should take the value of `viol` if it's the first row/potential violation, `viol2` if the second row/potential violation, etc.

**Hint:**
- One way to do this is by using an if-else statement to check whether the business name is the same as in the row above (assuming rows are ordered by name). Grouping by employer name and checking the number of unique offenses would also work.

In [4]:
## your code here

debar["viol_number"] = debar.groupby("Name").cumcount() + 1
debar["viol_number"] = debar["viol_number"].apply(lambda viol: f"viol{viol}" if viol > 1 else "viol")

## 1.2 Clean up state names (3 points)

Inspect the state names in the business violation data. Which states have names sometimes indicated in long format vs. two-letter abbreviation, e.g. "New Hampshire" vs. "NH"? Which of these may have more than one violation?

**Hint:** 
- One way to do this is to extract state names from the `City, State` column using regex and/or string methods.
- The simplest way to check if a state may have more than one violation is to check how many times they appear using `value_counts()`.

States such as Georgia, Texas, and Florida have names sometimes indicated in long format and other times indicated in a two letter abbreviation. Any of these states printed below may have more than one violation.

To make the state names consistent with the jobs data below, convert any discrepant state names to the two-letter abbreviation format. 

**Hints:**
- You could do this for all state names (to be safe) or only those you just identified. 
- If you want to change ANY discrepant state names from long format to two-letter format (i.e., a complete conversion), you can load state names from a complete name/abbreviation crosswalk and use that to change state names. Here is code to load in such a list ([from this blog](https://towardsdatascience.com/state-name-to-state-abbreviation-crosswalks-6936250976c)):
```python
crosswalk_url = 'http://app02.clerk.org/menu/ccis/Help/CCIS%20Codes/state_codes.html'
pd.read_html(crosswalk_url)[0]
```

In [5]:
## your code here

#read in state names from a complete name/abbreviation crosswalk
crosswalk_url = 'http://app02.clerk.org/menu/ccis/Help/CCIS%20Codes/state_codes.html'

#create a df with the state names and their code
state_code_names_df = pd.read_html(crosswalk_url)[0]

#change the City, State column datatype to string
debar["City, State"] = debar["City, State"].astype(str)

#Create city and state columns 
debar[["City", "State"]] = debar["City, State"].str.split(", ", expand = True)

#check if a state has more than one violation
grouped_by_state = debar["State"].value_counts()
potential_violations = grouped_by_state[grouped_by_state > 1]

print(potential_violations)

## States such as Georgia, Texas, North Dakota, Utah, and Florida have names sometimes indicated in long format and other times indicated in a two letter abbreviation. Any of these states printed below may have more than one violation.

TX              14
GA              10
KS               9
Georgia          9
FL               8
KY               5
SD               5
UT               4
Texas            4
ND               3
NY               3
North Dakota     3
CA               3
CO               3
Florida          2
AR               2
Utah             2
OK               2
LA               2
MA               2
MT               2
Name: State, dtype: int64

In [6]:
#function to convert improper state names to state codes
def convert_to_state_code(state_name):
    if state_name is None:
        return None
    #clean the input string
    clean_state_name = re.sub(r'[^\w\s]', '', state_name).strip()

    
    if not state_code_names_df["Description"].str.contains(clean_state_name).any():
        return clean_state_name
    return state_code_names_df.loc[state_code_names_df["Description"].str.contains(clean_state_name, case=False), "Code"].iloc[0]
debar.head()
debar["City, State"] = debar["City"] + ", " + debar["State"].apply(convert_to_state_code)
debar.head()

print(debar["City, State"])

,Name,"City, State",Violation,Duration,Start date,End date,viol_number,City,State
0,J&J Harvesting,"Leads, ND",Failure to respond to audit (partial response),2 years,1/19/2014,1/18/2016,viol,Leads,ND
1,"Stahlman Apiaries, Inc","Selby, SD",Failure to respond to audit (partial response),1 year,2/19/2015,2/14/2016,viol,Selby,SD
2,Trust Nursery,"Pulaski, NY",Failure to respond to audit (partial response),1 year,3/21/2014,3/20/2015,viol,Pulaski,NY
3,Anton Fertilizer Inc.,"Dighton, KS",Failure to respond to audit (no response),2 years,3/30/2014,3/29/2016,viol,Dighton,KS
4,"Great Plains Fluid Service, Inc.","Greensburg, KS",Failure to respond to audit (no response),2 years,3/30/2014,3/29/2016,viol,Greensburg,KS

,Name,"City, State",Violation,Duration,Start date,End date,viol_number,City,State
0,J&J Harvesting,"Leads, ND",Failure to respond to audit (partial response),2 years,1/19/2014,1/18/2016,viol,Leads,ND
1,"Stahlman Apiaries, Inc","Selby, SD",Failure to respond to audit (partial response),1 year,2/19/2015,2/14/2016,viol,Selby,SD
2,Trust Nursery,"Pulaski, NY",Failure to respond to audit (partial response),1 year,3/21/2014,3/20/2015,viol,Pulaski,NY
3,Anton Fertilizer Inc.,"Dighton, KS",Failure to respond to audit (no response),2 years,3/30/2014,3/29/2016,viol,Dighton,KS
4,"Great Plains Fluid Service, Inc.","Greensburg, KS",Failure to respond to audit (no response),2 years,3/30/2014,3/29/2016,viol,Greensburg,KS

0             Leads, ND
1             Selby, SD
2           Pulaski, NY
3           Dighton, KS
4        Greensburg, KS
             ...
109    Mount Vernon, TX
110        Mulberry, FL
111           Healy, KS
112         Collins, GA
113           Lyons, GA
Name: City, State, Length: 114, dtype: object

## 1.3 Investigate duplicated rows (4 points)

A. Create a new column in `debar`, `is_repeated`, that tells us whether an employer (`Name`) is repeated > 1 times.

*Hint*: there are multiple ways to solve this but some possibilities to get the list of names that are repeated are:
- Using `value_counts()` on the `Name` variable and extracting the index from that value counts 
- Using groupby to count the rows attached to one name

B. Print the rows where `is_repeated == True` and interpret with at least a sentence. If you notice any cases of duplicate business names where 'City, State' does NOT match exactly, check these manually and make them consistent.

C. Subset to the rows where `is_repeated == True` and save that data as `mult_debar`. Print the head() and shape

In [7]:
## your code here
#create a new column is_repeated, that indicates whether an employer (Name) is repeated > 1 times
debar["is_repeated"] = debar.duplicated(subset="Name", keep=False)

#Print the rows where is_repeated == True
debar[debar["is_repeated"] == True] 

##Interpretation: Repeated rows indicate cases of multiple violations, or just represent duplicate offenses (double counted because of misspellings, etc). 

#fix case where Altheimer, AR was changed to Altheimer AK 
debar.at[17, "City, State"] = "Altheimer, AR"
#fix case where Brownsville, TX was changed to Brownsfield
debar.at[25, "City, State"] = "Brownsville, TX"

#create a new dataframe for the rows where is_repeated == True
mult_debar = debar[debar["is_repeated"] == True] 

#print mult_debar head and shape
mult_debar.head()
mult_debar.shape

,Name,"City, State",Violation,Duration,Start date,End date,viol_number,City,State,is_repeated
6,Annabella Land & Cattle,"Annabella, UT",Non Payment,1 year,5/9/2014,5/9/2015,viol,Annabella,UT,True
7,Autumn Hill Orchard,"Groton, MA",Failure to respond to audit (no response),2 years,7/6/2014,7/5/2016,viol,Groton,MA,True
8,"Caddo Creek Ranch, dba Paradise Ranch","Caddo, TX",Failure to respond to audit (partial response),2 years,7/20/2014,7/19/2016,viol,Caddo,TX,True
11,Loewen Harvesting LLC,"Brownsville, TX",Failure to respond to audit (partial response),1 year,8/20/2014,8/19/2015,viol,Brownsville,TX,True
12,Rollo Farm Labor Contractor,"Miami, FL",Failure to respond to audit (no response),2 years,8/23/2014,8/22/2016,viol,Miami,FL,True
14,Sharon Mathis,"Tifton, GA",Failure to respond to audit (no response),2 years,11/16/2014,11/15/2016,viol,Tifton,GA,True
15,SRT Farms,"Morton, TX",Failure to respond to audit (no response),2 years,11/16/2014,11/15/2016,viol,Morton,TX,True
16,Mark Duncan,"Roosevelt, UT",Failure to respond to audit (no response),2 years,11/16/2014,11/15/2016,viol,Roosevelt,UT,True
17,"Maple Ridge Custom Services, LLC","Altheimer, AK",Failure to respond to audit (partial response),2 years,11/16/2014,11/15/2016,viol,Altheimer,AK,True
18,F&W Farms,"Ingalls, KS",Failure to respond to audit (partial response),2 years,12/10/2014,12/9/2016,viol,Ingalls,KS,True
19,Cisco Produce Inc.,"Cairo, GA",Failure to respond to audit (no response),2 years,12/10/2014,12/9/2016,viol,Cairo,GA,True
21,Old Tree Farms/Verpaalen Custom Service,"Volga, SD",WHD Debarment,3 years,12/11/2014,12/10/2017,viol,Volga,SD,True
24,Rollo Farm Labor Contractor,"Miami, FL",Impeding the Audit Process – Non- Response,2 years,8/23/2014,8/22/2016,viol2,Miami,FL,True
25,Loewen Harvesting LLC,"Brownfield, TX",Impeding the Audit Process – Partial- Response,1 year,8/20/2014,8/19/2015,viol2,Brownfield,TX,True
28,"Caddo Creek Ranch, dba Paradise Ranch","Caddo, TX",Impeding the Audit Process – Partial- Response,2 years,7/20/2014,7/19/2016,viol2,Caddo,Texas,True
29,Autumn Hill Orchard,"Groton, MA",Impeding the Audit Process – Non- Response,2 years,7/6/2014,7/5/2016,viol2,Groton,MA,True
30,Annabella Land & Cattle,"Annabella, UT",Non-payment,1 year,5/9/2014,5/8/2015,viol2,Annabella,Utah,True
31,Macky and Brad Farms,"Plains, TX",Failure to respond to audit (no response),1 year,2/13/2015,2/12/2016,viol,Plains,TX,True
51,Old Tree Farms/Verpaalen Custom Service,"Volga, SD",Wage Hour Debarment,3 years,12/1/2014,12/1/2017,viol2,Volga,SD,True
55,Macky and Brad Farms,"Plains, TX",Impeding the Audit Process – Partial- Response,1 year,2/13/2015,2/12/2016,viol2,Plains,TX,True
56,Cisco Produce Inc.,"Cairo, GA",Impeding the Audit Process – Non- Response,2 years,12/10/2015,12/9/2017,viol2,Cairo,GA,True
58,F&W Farms,"Ingalls, KS",Impeding the Audit Process – Partial- Response,1 year,12/10/2014,12/9/2015,viol2,Ingalls,KS,True
59,"Maple Ridge Custom Services, LLC","Altheimer, AR",Impeding the Audit Process – Partial- Response,1 year,11/16/2014,11/15/2015,viol2,Altheimer,AR,True
60,Mark Duncan,"Roosevelt, UT",Impeding the Audit Process – Non- Response,2 years,11/16/2014,11/15/2016,viol2,Roosevelt,UT,True
61,SRT Farms,"Morton, TX",Impeding the Audit Process – Non- Response,2 years,11/16/2014,11/15/2016,viol2,Morton,TX,True
62,Sharon Mathis,"Tifton, GA",Impeding the Audit Process – Non- Response,2 years,11/16/2014,11/15/2016,viol2,Tifton,GA,True
73,Xavier Horne,"Lyons, GA",Non-payment of certification fee,1 year,6/16/2016,6/15/2017,viol,Lyons,Georgia,True
89,Xavier Horne,"Lyons, GA",Failure to respond to audit request,2 years,9/27/2017,9/26/2019,viol2,Lyons,Georgia,True
103,Dove Creek Farms,"Mount Vernon, TX",Failure to respond to audit request,2 years,2/9/2018,2/8/2018,viol,Mount Vernon,TX,True
106,Turner Farms,"Healy, KS",Failure to comply with the employer's obligati...,6 months,7/17/19,2/10/2020,viol,Healy,KS,True
109,Dove Creek Farms,"Mount Vernon, TX",Failure to Respond to Audit Request,2 years,2/9/2018,2/8/2020,viol2,Mount Vernon,TX,True
111,Turner Farms,"Healy, KS",Failure to comply with the employer's obligati...,7 months,7/17/19,2/10/20,viol2,Healy,KS,True

,Name,"City, State",Violation,Duration,Start date,End date,viol_number,City,State,is_repeated
6,Annabella Land & Cattle,"Annabella, UT",Non Payment,1 year,5/9/2014,5/9/2015,viol,Annabella,UT,True
7,Autumn Hill Orchard,"Groton, MA",Failure to respond to audit (no response),2 years,7/6/2014,7/5/2016,viol,Groton,MA,True
8,"Caddo Creek Ranch, dba Paradise Ranch","Caddo, TX",Failure to respond to audit (partial response),2 years,7/20/2014,7/19/2016,viol,Caddo,TX,True
11,Loewen Harvesting LLC,"Brownsville, TX",Failure to respond to audit (partial response),1 year,8/20/2014,8/19/2015,viol,Brownsville,TX,True
12,Rollo Farm Labor Contractor,"Miami, FL",Failure to respond to audit (no response),2 years,8/23/2014,8/22/2016,viol,Miami,FL,True

(32, 10)

## 1.4 Reshape `mult_debar` to wide format to begin filtering out duplicates (4 points)

You want to separate out two cases:

- Cases where the repeat rows for one employer are due to duplicated data 
- Cases where the repeat rows for one employer represent repeated violations for different issues

There are various ways to check duplicates in these data: e.g., converting `Violation` to lowercase or replacing spelled-out states with two-dig state codes.

We're going to use the simple rule of:

- A row is a duplicate if, within an employer (defined by Name + City, State), the Start date for each row's violation is the same 

To begin to check this, reshape `mult_debar` to a wide dataframe (`mult_debar_wide`) with the following columns, treating the `Name` and `City, State` as the index for the pivot:

- Name
- City, State
- start_date_viol1
- start_date_viol2

For a successful reshaping, make sure each row in `mult_debar` shows only a single business (no duplicates under `Name`) and isn't missing either `start_date_viol1` or `start_date_viol2`.

Show the contents of `mult_debar` and its shape.

In [8]:
mult_debar_wide = pd.pivot(mult_debar, index = ["Name","City, State"], columns="viol_number", values = "Start date").reset_index()
mult_debar_wide.rename(columns = {"viol" : "start_date_viol1", "viol2" : "start_date_viol2"}, inplace = True)
mult_debar_wide

viol_number,Name,"City, State",start_date_viol1,start_date_viol2
0,Annabella Land & Cattle,"Annabella, UT",5/9/2014,5/9/2014
1,Autumn Hill Orchard,"Groton, MA",7/6/2014,7/6/2014
2,"Caddo Creek Ranch, dba Paradise Ranch","Caddo, TX",7/20/2014,7/20/2014
3,Cisco Produce Inc.,"Cairo, GA",12/10/2014,12/10/2015
4,Dove Creek Farms,"Mount Vernon, TX",2/9/2018,2/9/2018
5,F&W Farms,"Ingalls, KS",12/10/2014,12/10/2014
6,Loewen Harvesting LLC,"Brownsville, TX",8/20/2014,8/20/2014
7,Macky and Brad Farms,"Plains, TX",2/13/2015,2/13/2015
8,"Maple Ridge Custom Services, LLC","Altheimer, AR",11/16/2014,11/16/2014
9,Mark Duncan,"Roosevelt, UT",11/16/2014,11/16/2014
10,Old Tree Farms/Verpaalen Custom Service,"Volga, SD",12/11/2014,12/1/2014
11,Rollo Farm Labor Contractor,"Miami, FL",8/23/2014,8/23/2014
12,SRT Farms,"Morton, TX",11/16/2014,11/16/2014
13,Sharon Mathis,"Tifton, GA",11/16/2014,11/16/2014
14,Turner Farms,"Healy, KS",7/17/19,7/17/19
15,Xavier Horne,"Lyons, GA",6/16/2016,9/27/2017

## 1.5 Filter out duplicates from original debar data (6 points)

A. Using `mult_debar_wide`, add a column `is_dup` that takes value of True for cases where start_date_viol1 == start_date_viol2 marking the row as a duplicate

B. Going back to the original long-format data you loaded at the beginning, `debar`, filter as follows:
- For employers where `is_dup == True` as indicated by your wide-format dataframe, only keep `violnum == viol1`
- For all other employers (so is_dup == False and ones we didnt need to check duplicates for), keep all violnum
- Remove the `is_repeated` column from the `debar` data

**Hint**: you can complete part B without a for loop; `pd.concat` with axis = 0 (row binding) is one way

Call the resulting dataframe `debar_clean` and print the shape and # of unique employer names

In [9]:
## your code here

#A
mult_debar_wide["is_dup"] = mult_debar_wide["start_date_viol1"] == mult_debar_wide["start_date_viol2"]
mult_debar_wide

#B

#get list of dupped names
dupped_names = mult_debar_wide.Name[mult_debar_wide.is_dup]

#create a df with only dupped names
dupped_df = debar[debar.Name.isin(dupped_names)].copy()

#keep only dupped names where violnum == viol
dupped_df_to_keep = dupped_df[dupped_df.viol_number == "viol"]

#create a df for all of the not dupped employers
not_dupped = debar[~debar.Name.isin(dupped_names)].copy()


type(not_dupped)
type(dupped_df_to_keep)


debar_clean = pd.concat([dupped_df_to_keep, not_dupped], axis=0)

#delete columns city, state and is_repeated from debar_clean
debar_clean = debar_clean.drop(labels  = ["City", "State", "is_repeated"], axis = 1)

debar_clean

# print the shape and # of unique employer names
debar_clean.shape
debar_clean["Name"].nunique()

viol_number,Name,"City, State",start_date_viol1,start_date_viol2,is_dup
0,Annabella Land & Cattle,"Annabella, UT",5/9/2014,5/9/2014,True
1,Autumn Hill Orchard,"Groton, MA",7/6/2014,7/6/2014,True
2,"Caddo Creek Ranch, dba Paradise Ranch","Caddo, TX",7/20/2014,7/20/2014,True
3,Cisco Produce Inc.,"Cairo, GA",12/10/2014,12/10/2015,False
4,Dove Creek Farms,"Mount Vernon, TX",2/9/2018,2/9/2018,True
5,F&W Farms,"Ingalls, KS",12/10/2014,12/10/2014,True
6,Loewen Harvesting LLC,"Brownsville, TX",8/20/2014,8/20/2014,True
7,Macky and Brad Farms,"Plains, TX",2/13/2015,2/13/2015,True
8,"Maple Ridge Custom Services, LLC","Altheimer, AR",11/16/2014,11/16/2014,True
9,Mark Duncan,"Roosevelt, UT",11/16/2014,11/16/2014,True
10,Old Tree Farms/Verpaalen Custom Service,"Volga, SD",12/11/2014,12/1/2014,False
11,Rollo Farm Labor Contractor,"Miami, FL",8/23/2014,8/23/2014,True
12,SRT Farms,"Morton, TX",11/16/2014,11/16/2014,True
13,Sharon Mathis,"Tifton, GA",11/16/2014,11/16/2014,True
14,Turner Farms,"Healy, KS",7/17/19,7/17/19,True
15,Xavier Horne,"Lyons, GA",6/16/2016,9/27/2017,False

pandas.core.frame.DataFrame

pandas.core.frame.DataFrame

,Name,"City, State",Violation,Duration,Start date,End date,viol_number
6,Annabella Land & Cattle,"Annabella, UT",Non Payment,1 year,5/9/2014,5/9/2015,viol
7,Autumn Hill Orchard,"Groton, MA",Failure to respond to audit (no response),2 years,7/6/2014,7/5/2016,viol
8,"Caddo Creek Ranch, dba Paradise Ranch","Caddo, TX",Failure to respond to audit (partial response),2 years,7/20/2014,7/19/2016,viol
11,Loewen Harvesting LLC,"Brownsville, TX",Failure to respond to audit (partial response),1 year,8/20/2014,8/19/2015,viol
12,Rollo Farm Labor Contractor,"Miami, FL",Failure to respond to audit (no response),2 years,8/23/2014,8/22/2016,viol
...,...,...,...,...,...,...,...
107,Walker Place,"Danville, IL",Failure to comply with the employer's obligati...,2 months,11/19/2019,1/26/2020,viol
108,County Fair Farm (company) and Andrew Williams...,"Jefferson, ME",WHD Debarment,3 years,3/8/2017,3/8/2020,viol
110,Jesus Ledesma,"Mulberry, FL",Failure to Respond to Audit Request,2 years,2/8/18,2/8/20,viol
112,B & R Harvesting and Paul Cruz (individual),"Collins, GA",WHD Debarment,3 years,4/9/17,4/9/20,viol
113,Delia Rojas,"Lyons, GA",WHD Debarment,3 years,4/14/17,4/14/20,viol

(101, 7)

98

# 2. Merging and regex (19 points total)

## 2.1 Load data on job postings (1 point)

The previous dataset contains a small subset of employers who faced temporary bans due to violations of H-2A program regulations. Since most of the bans have expired, let's see which of those employers posted new H-2A jobs in the first quarter of 2021.

First, load the `jobs.csv` data stored in `pset3_inputdata`.

In [10]:
# your code here to load the data 

jobs = pd.read_csv("pset3_inputdata/jobs.csv", low_memory=False)

jobs.head
jobs.info
jobs.shape

<bound method NDFrame.head of              CASE_NUMBER                           CASE_STATUS  \
0     H-300-20199-721302      Determination Issued - Withdrawn
1     H-300-20231-773906  Determination Issued - Certification
2     H-300-20231-774123  Determination Issued - Certification
3     H-300-20231-774151  Determination Issued - Certification
4     H-300-20231-774508  Determination Issued - Certification
...                  ...                                   ...
2715  H-300-20351-963307  Determination Issued - Certification
2716  H-300-20351-963399  Determination Issued - Certification
2717  H-300-20351-964097  Determination Issued - Certification
2718  H-300-20351-965435  Determination Issued - Certification
2719  H-300-20352-967311  Determination Issued - Certification

                RECEIVED_DATE            DECISION_DATE  \
0     2020-07-17 14:50:40.840  2020-10-01 00:00:00.000
1     2020-08-20 10:38:15.620  2020-10-01 00:00:00.000
2     2020-08-24 15:33:14.340  2020-10-01 00:00:00.000
3     2020-08-21 12:08:09.760  2020-10-01 00:00:00.000
4     2020-08-20 10:17:34.530  2020-10-01 00:00:00.000
...                       ...                      ...
2715  2020-12-17 10:34:09.530  2020-12-31 00:00:00.000
2716  2020-12-17 14:37:57.920  2020-12-31 00:00:00.000
2717  2020-12-22 12:21:32.370  2020-12-31 00:00:00.000
2718  2020-12-22 12:18:43.280  2020-12-31 00:00:00.000
2719  2020-12-22 11:10:37.480  2020-12-31 00:00:00.000

     TYPE_OF_EMPLOYER_APPLICATION H2A_LABOR_CONTRACTOR  \
0             Individual Employer                    N
1             Association - Agent                    N
2             Individual Employer                    N
3             Individual Employer                    N
4             Individual Employer                    Y
...                           ...                  ...
2715          Individual Employer                    N
2716          Individual Employer                    N
2717          Individual Employer                    N
2718          Individual Employer                    N
2719          Individual Employer                    N

     NATURE_OF_TEMPORARY_NEED EMERGENCY_FILING  \
0                    Seasonal                Y
1                    Seasonal                N
2                    Seasonal                N
3                    Seasonal                N
4                    Seasonal                N
...                       ...              ...
2715                 Seasonal                N
2716                 Seasonal                N
2717                 Seasonal                N
2718                 Seasonal                N
2719                 Seasonal                N

                           EMPLOYER_NAME               TRADE_NAME_DBA  ...  \
0     Fazio Farms Operating Company, LLC                          NaN  ...
1                     Charlie Sunderland  Panter & Sunderland Nursery  ...
2                      Michael Rudebusch                          NaN  ...
3                           Lodahl Farms                          NaN  ...
4                Dunson Harvesting, Inc.      Dunson Harvesting, Inc.  ...
...                                  ...                          ...  ...
2715                   James L Schneller                          NaN  ...
2716                     Stephen G Myers                          NaN  ...
2717                          Andy Povey             Andy Povey Farms  ...
2718              Silver Creek Seed, LLC                          NaN  ...
2719                      Halabura Farms                          NaN  ...

     ADDENDUM_B_HOUSING_ATTACHED TOTAL_HOUSING_RECORDS MEALS_PROVIDED  \
0                              N                     1              Y
1                              N                     1              N
2                              N                     1              N
3                              Y                     2              N
4                              Y                     8              N
...                          ...                   ...            ...
2715                           N                     1              N
2716                           N                     1              N
2717                           Y                     2              Y
2718                           Y                     2              Y
2719                           N                     1              Y

     MEALS_CHARGED MEAL_REIMBURSEMENT_MINIMUM MEAL_REIMBURSEMENT_MAXIMUM  \
0            12.68                      12.68                       55.0
1              NaN                      12.68                       55.0
2              NaN                      12.68                       55.0
3              NaN                      12.68                       55.0
4              NaN                      12.68                       55.0
...            ...                        ...                        ...
2715           NaN                      12.68                       55.0
2716           NaN                      12.68                       55.0
2717         12.68                      12.68                       55.0
2718         12.68                      12.68                       55.0
2719         12.68                      12.68                       55.0

     PHONE_TO_APPLY                  EMAIL_TO_APPLY  \
0       13607017661            faziofarms@gmail.com
1       19318083783                             NaN
2       19369333827   fayethlynpitre@rocketmail.com
3       14069637560         lodahl_kelsey@yahoo.com
4       18632939888                             NaN
...             ...                             ...
2715    12709914373                jims4463@aol.com
2716    12708780028                vjpm76@gmail.com
2717            NaN  H-2AJobs@snakeriverfarmers.org
2718            NaN  H-2AJobs@snakeriverfarmers.org
2719            NaN          referrals@maslabor.com

                                       WEBSITE_TO_APPLY  \
0                                                   NaN
1           https://www.jobs4tn.gov/vosnet/Default.aspx
2                                                   NaN
3                                                   NaN
4                                 www.employflorida.com
...                                                 ...
2715                                                NaN
2716  https://kentucky.gov/employment/Pages/default....
2717            https://idahoworks.gov/ada/r/job_seeker
2718            https://idahoworks.gov/ada/r/job_seeker
2719                    https://www.pacareerlink.pa.gov

      TOTAL_ADDENDUM_A_RECORDS
0                            0
1                            0
2                            0
3                            0
4                            4
...                        ...
2715                         0
2716                         1
2717                         0
2718                         0
2719                         0

[2720 rows x 138 columns]>

<bound method DataFrame.info of              CASE_NUMBER                           CASE_STATUS  \
0     H-300-20199-721302      Determination Issued - Withdrawn
1     H-300-20231-773906  Determination Issued - Certification
2     H-300-20231-774123  Determination Issued - Certification
3     H-300-20231-774151  Determination Issued - Certification
4     H-300-20231-774508  Determination Issued - Certification
...                  ...                                   ...
2715  H-300-20351-963307  Determination Issued - Certification
2716  H-300-20351-963399  Determination Issued - Certification
2717  H-300-20351-964097  Determination Issued - Certification
2718  H-300-20351-965435  Determination Issued - Certification
2719  H-300-20352-967311  Determination Issued - Certification

                RECEIVED_DATE            DECISION_DATE  \
0     2020-07-17 14:50:40.840  2020-10-01 00:00:00.000
1     2020-08-20 10:38:15.620  2020-10-01 00:00:00.000
2     2020-08-24 15:33:14.340  2020-10-01 00:00:00.000
3     2020-08-21 12:08:09.760  2020-10-01 00:00:00.000
4     2020-08-20 10:17:34.530  2020-10-01 00:00:00.000
...                       ...                      ...
2715  2020-12-17 10:34:09.530  2020-12-31 00:00:00.000
2716  2020-12-17 14:37:57.920  2020-12-31 00:00:00.000
2717  2020-12-22 12:21:32.370  2020-12-31 00:00:00.000
2718  2020-12-22 12:18:43.280  2020-12-31 00:00:00.000
2719  2020-12-22 11:10:37.480  2020-12-31 00:00:00.000

     TYPE_OF_EMPLOYER_APPLICATION H2A_LABOR_CONTRACTOR  \
0             Individual Employer                    N
1             Association - Agent                    N
2             Individual Employer                    N
3             Individual Employer                    N
4             Individual Employer                    Y
...                           ...                  ...
2715          Individual Employer                    N
2716          Individual Employer                    N
2717          Individual Employer                    N
2718          Individual Employer                    N
2719          Individual Employer                    N

     NATURE_OF_TEMPORARY_NEED EMERGENCY_FILING  \
0                    Seasonal                Y
1                    Seasonal                N
2                    Seasonal                N
3                    Seasonal                N
4                    Seasonal                N
...                       ...              ...
2715                 Seasonal                N
2716                 Seasonal                N
2717                 Seasonal                N
2718                 Seasonal                N
2719                 Seasonal                N

                           EMPLOYER_NAME               TRADE_NAME_DBA  ...  \
0     Fazio Farms Operating Company, LLC                          NaN  ...
1                     Charlie Sunderland  Panter & Sunderland Nursery  ...
2                      Michael Rudebusch                          NaN  ...
3                           Lodahl Farms                          NaN  ...
4                Dunson Harvesting, Inc.      Dunson Harvesting, Inc.  ...
...                                  ...                          ...  ...
2715                   James L Schneller                          NaN  ...
2716                     Stephen G Myers                          NaN  ...
2717                          Andy Povey             Andy Povey Farms  ...
2718              Silver Creek Seed, LLC                          NaN  ...
2719                      Halabura Farms                          NaN  ...

     ADDENDUM_B_HOUSING_ATTACHED TOTAL_HOUSING_RECORDS MEALS_PROVIDED  \
0                              N                     1              Y
1                              N                     1              N
2                              N                     1              N
3                              Y                     2              N
4                              Y                     8              N
...                          ...                   ...            ...
2715                           N                     1              N
2716                           N                     1              N
2717                           Y                     2              Y
2718                           Y                     2              Y
2719                           N                     1              Y

     MEALS_CHARGED MEAL_REIMBURSEMENT_MINIMUM MEAL_REIMBURSEMENT_MAXIMUM  \
0            12.68                      12.68                       55.0
1              NaN                      12.68                       55.0
2              NaN                      12.68                       55.0
3              NaN                      12.68                       55.0
4              NaN                      12.68                       55.0
...            ...                        ...                        ...
2715           NaN                      12.68                       55.0
2716           NaN                      12.68                       55.0
2717         12.68                      12.68                       55.0
2718         12.68                      12.68                       55.0
2719         12.68                      12.68                       55.0

     PHONE_TO_APPLY                  EMAIL_TO_APPLY  \
0       13607017661            faziofarms@gmail.com
1       19318083783                             NaN
2       19369333827   fayethlynpitre@rocketmail.com
3       14069637560         lodahl_kelsey@yahoo.com
4       18632939888                             NaN
...             ...                             ...
2715    12709914373                jims4463@aol.com
2716    12708780028                vjpm76@gmail.com
2717            NaN  H-2AJobs@snakeriverfarmers.org
2718            NaN  H-2AJobs@snakeriverfarmers.org
2719            NaN          referrals@maslabor.com

                                       WEBSITE_TO_APPLY  \
0                                                   NaN
1           https://www.jobs4tn.gov/vosnet/Default.aspx
2                                                   NaN
3                                                   NaN
4                                 www.employflorida.com
...                                                 ...
2715                                                NaN
2716  https://kentucky.gov/employment/Pages/default....
2717            https://idahoworks.gov/ada/r/job_seeker
2718            https://idahoworks.gov/ada/r/job_seeker
2719                    https://www.pacareerlink.pa.gov

      TOTAL_ADDENDUM_A_RECORDS
0                            0
1                            0
2                            0
3                            0
4                            4
...                        ...
2715                         0
2716                         1
2717                         0
2718                         0
2719                         0

[2720 rows x 138 columns]>

(2720, 138)

The most notable column names mean as follows:
- `CASE_NUMBER`:	Administrative identifier for an employer's H-2A visa application
- `EMPLOYER_NAME`:	Employer name
- `EMPLOYER_CITY`:	Employer city
- `EMPLOYER_STATE`:	Employer state
- `EMPLOYER_ADDRESS_1`:	Employer address (only need to use if doing the geocoding extra credit)

##  2.2 Try inner join on employer name  (2 points)

- Use the `EMPLOYER_NAME` field of the `jobs` dataset
- Use the `Name` field of the `debar_clean` dataset 

A. Use pd.merge with an inner join on those fields to see whether there are any exact matches. 

B. If there are exact matches, print the row(s) with exact matches

In [11]:
## your code here
merged_df = pd.merge(debar_clean, jobs, left_on = "Name", right_on = "EMPLOYER_NAME", how = "inner")

## Printing rows with exact matches 

print(merged_df[merged_df["EMPLOYER_NAME"] == merged_df["Name"]])

## Need to change this to debar_clean after finished with question 1

             Name  City, State                         Violation Duration  \
0  Rafael Barajas  Sebring, FL  Non-payment of certification fee   1 year

  Start date   End date viol_number         CASE_NUMBER  \
0  9/23/2016  9/22/2017        viol  H-300-20287-876656

                            CASE_STATUS            RECEIVED_DATE  ...  \
0  Determination Issued - Certification  2020-10-20 09:20:32.010  ...

  ADDENDUM_B_HOUSING_ATTACHED TOTAL_HOUSING_RECORDS MEALS_PROVIDED  \
0                           Y                     3              Y

  MEALS_CHARGED MEAL_REIMBURSEMENT_MINIMUM MEAL_REIMBURSEMENT_MAXIMUM  \
0         12.68                      12.68                       55.0

  PHONE_TO_APPLY EMAIL_TO_APPLY               WEBSITE_TO_APPLY  \
0    18632732686            NaN  https://seasonaljobs.dol.gov/

  TOTAL_ADDENDUM_A_RECORDS
0                        7

[1 rows x 145 columns]

## 2.3 Targeted regex (11 points total)

You want to see if you can increase the exact match rate with some basic cleaning of each 
of the employer name fields in each dataset

### 2.3.1 Convert to upper (3 points)

A. Convert the `EMPLOYER_NAME` and `Name` fields to uppercase using list comprehension rather than df.varname.str.upper() (it's fine to do a separate list comprehension line for each of the two columns)

B. Print a random sample of 15 values of each result

C. Assign the full vector of uppercase names back to the original data, writing over the original `EMPLOYER_NAME` and `Name` columns

In [12]:
## insert your code to turn into uppercase here

jobs["EMPLOYER_NAME_UC"] = [x.upper() for x in jobs["EMPLOYER_NAME"]]

debar_clean["Name_UC"] = [x.upper() for x in debar_clean["Name"]]

In [13]:
## insert your code for the random sample
jobs["EMPLOYER_NAME_UC"].sample(15)
debar_clean["Name_UC"].sample(15)

1096    WILLIAM H. PERRY JR. DBA PERRY APIARIES
462                          FLOWERS FARMS, LLC
1690                  B.T. LOFTUS RANCHES, INC.
1104                           VG FARM VENTURES
2552                         RJR FOUR FARMS PTN
339                                TERRY VAUGHN
2224                       MARLYN SEIDLER FARMS
1053                         KIEFAT HONEY FARMS
268                        P&L HARVESTING, LLC
513                       H2A COMPLETE II, INC.
1739                  BROWN & BROWN OF MT, INC.
1835                          LAMB'S HONEY FARM
733                   WESTERN RANGE ASSOCIATION
2561                            TERRY R. FULLER
1014                      AUGUST GEORGE NICOLAS
Name: EMPLOYER_NAME_UC, dtype: object

97                 AB RANCH
88            YESENIA PEREZ
2             TRUST NURSERY
69           QUENTIN SCHELL
35              IRISH FLATS
39     VALLEY VIEW ORCHARDS
34              DANECO, LLC
80          M KENESTON CORP
53            AGECY II, LLC
52        LOUIE M. ASUMENDI
87        LESLIE RENEE DREW
86        DAVID C. MARTINEZ
103        DOVE CREEK FARMS
44           CHRIS ROBINSON
94             69 FARMS LLC
Name: Name_UC, dtype: object

In [14]:
## insert your code for assigning the uppercase names back to the data

jobs["EMPLOYER_NAME"] = jobs["EMPLOYER_NAME_UC"]
debar_clean["Name"] = debar_clean["Name_UC"]

### 2.3.2 Clean up punctuation (4 points)

You notice that INC, CO, and LLC are sometimes followed by a period (.) but sometimes not

A. For each dataset, write a regex pattern using `re.sub` to remove the . but only if it's preceded by INC, LLC, or CO 

Make sure LLC, INC, CO remain part of the string but just without the dot

B. Test the pattern on the positive and negative example we provide below and print the result. See the Github issue for examples of what to return


**Hint**: https://stackoverflow.com/questions/7191209/python-re-sub-replace-with-matched-content

In [15]:
pos_example_1 = "CISCO PRODUCE INC."
pos_example_2 = "AVOYELLES HONEY CO., LLC"
neg_example = "E.V. RANCH LLP"

In [16]:
## insert your code here with the regex pattern for part A

regex = r"(INC|LLC|CO)\."


## insert your code to use re.sub to apply the pattern to the test cases for part B

print(re.sub(regex, r"\1", pos_example_1))
print(re.sub(regex, r"\1", pos_example_2))
print(re.sub(regex, r"\1", neg_example))

CISCO PRODUCE INC
AVOYELLES HONEY CO, LLC
E.V. RANCH LLP

### 2.3.3 Clean employer names (4 points)

Use that pattern in conjunction with `re.sub` and list comprehension to clean the employer name columns in each dataset. Save the new columns as `name_clean` in each. Then, use row subsetting to (1) subset to rows that changed names and (2) for:

- `debar_clean` print the `Name` and `name_clean` columns
- `jobs` print the `EMPLOYER_NAME` and `name_clean` columns

Make sure to use the uppercase versions of the variables

In [17]:
## your code here to clean the columns

jobs["name_clean"] = [re.sub(regex, r"\1", x) for x in jobs["EMPLOYER_NAME"]]
debar_clean["name_clean"] =  [re.sub(regex, r"\1", x) for x in debar_clean["Name"]]

In [18]:
## your code here to print the head

print(jobs[["name_clean", "EMPLOYER_NAME"]][jobs["name_clean"] != jobs["EMPLOYER_NAME"]].head)
print(debar_clean[["name_clean", "Name"]][debar_clean["name_clean"] != debar_clean["Name"]].head)

<bound method NDFrame.head of                                    name_clean  \
4                      DUNSON HARVESTING, INC
7     FARM LABOR ASSOCIATION FOR GROWERS, INC
14                          MCLAIN FARMS, INC
17                         BONNIE PLANTS, INC
18                 B & W QUALITY GROWERS, INC
...                                       ...
2700                  HARRAL LIVESTOCK CO LLC
2701                   ECOSYSTEM CONCEPTS INC
2702                        SIDDOWAY SHEEP CO
2705                    SATHER MANAGEMENT INC
2711                   C R KOEHL AND SONS INC

                                 EMPLOYER_NAME
4                      DUNSON HARVESTING, INC.
7     FARM LABOR ASSOCIATION FOR GROWERS, INC.
14                          MCLAIN FARMS, INC.
17                         BONNIE PLANTS, INC.
18                 B & W QUALITY GROWERS, INC.
...                                        ...
2700                  HARRAL LIVESTOCK CO. LLC
2701                   ECOSYSTEM CONCEPTS INC.
2702                        SIDDOWAY SHEEP CO.
2705                    SATHER MANAGEMENT INC.
2711                   C R KOEHL AND SONS INC.

[576 rows x 2 columns]>
<bound method NDFrame.head of                          name_clean                              Name
3              ANTON FERTILIZER INC             ANTON FERTILIZER INC.
4   GREAT PLAINS FLUID SERVICE, INC  GREAT PLAINS FLUID SERVICE, INC.
5                        PROMAX INC                       PROMAX INC.
13                     REIMER'S INC                     REIMER'S INC.
19                CISCO PRODUCE INC                CISCO PRODUCE INC.
23                     REIMER’S INC                     REIMER’S INC.
33                GERONIMO SHEEP CO                GERONIMO SHEEP CO.
46          ALTENDORF TRANSPORT INC          ALTENDORF TRANSPORT INC.
56                CISCO PRODUCE INC                CISCO PRODUCE INC.
72      SAXTONS RIVER ORCHARDS, INC      SAXTONS RIVER ORCHARDS, INC.
91          AVOYELLES HONEY CO, LLC          AVOYELLES HONEY CO., LLC>

## 2.4 More joins and more cleaning (5 points)

A. Conduct another inner join between `jobs` and `debar_clean` now using the `name_clean` column; print the result. Did the cleaning result in any more employers matched between the two datasets?

B. Create a new column in `debar_clean` called `name_clean_2` that uses regex to take the following name in that dataset:

- `SLASH E.V. RANCH LLP` in the `debar_clean` dataset

And cleans it up so that it matches with this employer in `jobs`

- `SLASH EV RANCH` in the `jobs` dataset

Eg a pattern to remove the dots in the EV and the space+LLP-- you can apply the pattern to all employer names in debar_clean (so don't need to worry about only applying it to that one employer)


C. Conduct a left join using `name_clean_2` as the join column where the left hand dataframe is `jobs`; right hand dataframe is `debar_clean`, store the result as a dataframe, and print the rows where the merge indicator indicates the row was found in both dataframe. Write a sentence describing how name cleaning affected the match results.

**Note**: this manual cleaning process is inefficient and may miss other likely matches. A better approach would be fuzzy matching, which would recognize that 'Slash EV ranch' is a highly similar string to 'slash ev ranch llp' and match them without us needing to use regex to make the strings identical. We may talk about this in class later if time!

In [19]:
## your code here
new_merge = pd.merge(jobs, debar_clean, on = "name_clean", how = "inner")
new_merge

## No, the cleaning did not result in any more employers matching between the two datasets 

regex2 = r"(\.)|( LLP)"

debar_clean["name_clean_2"] = [re.sub(regex2, "", x) for x in debar_clean["name_clean"]]

new_merge2 = pd.merge(jobs, debar_clean, left_on = "name_clean", right_on = "name_clean_2", how = "left", indicator = True)

print(new_merge2[new_merge2["_merge"] == "both"])

## We got one more row with this method than with the first method

,CASE_NUMBER,CASE_STATUS,RECEIVED_DATE,DECISION_DATE,TYPE_OF_EMPLOYER_APPLICATION,H2A_LABOR_CONTRACTOR,NATURE_OF_TEMPORARY_NEED,EMERGENCY_FILING,EMPLOYER_NAME,TRADE_NAME_DBA,...,EMPLOYER_NAME_UC,name_clean,Name,"City, State",Violation,Duration,Start date,End date,viol_number,Name_UC
0,H-300-20287-876656,Determination Issued - Certification,2020-10-20 09:20:32.010,2020-11-09 00:00:00.000,Individual Employer,Y,Seasonal,Y,RAFAEL BARAJAS,NaN,...,RAFAEL BARAJAS,RAFAEL BARAJAS,RAFAEL BARAJAS,"Sebring, FL",Non-payment of certification fee,1 year,9/23/2016,9/22/2017,viol,RAFAEL BARAJAS

             CASE_NUMBER                           CASE_STATUS  \
791   H-300-20287-876656  Determination Issued - Certification
1115  H-300-20306-894148  Determination Issued - Certification

                RECEIVED_DATE            DECISION_DATE  \
791   2020-10-20 09:20:32.010  2020-11-09 00:00:00.000
1115  2020-11-02 18:11:29.140  2020-11-24 00:00:00.000

     TYPE_OF_EMPLOYER_APPLICATION H2A_LABOR_CONTRACTOR  \
791           Individual Employer                    Y
1115          Individual Employer                    N

     NATURE_OF_TEMPORARY_NEED EMERGENCY_FILING   EMPLOYER_NAME TRADE_NAME_DBA  \
791                  Seasonal                Y  RAFAEL BARAJAS            NaN
1115                 Seasonal                N  SLASH EV RANCH            NaN

      ...  City, State                         Violation Duration  Start date  \
791   ...  Sebring, FL  Non-payment of certification fee   1 year   9/23/2016
1115  ...    Rifle, CO                     WHD Debarment   1 year  11/15/2014

        End date viol_number               Name_UC          name_clean_y  \
791    9/22/2017        viol        RAFAEL BARAJAS        RAFAEL BARAJAS
1115  11/14/2015        viol  SLASH E.V. RANCH LLP  SLASH E.V. RANCH LLP

        name_clean_2  _merge
791   RAFAEL BARAJAS    both
1115  SLASH EV RANCH    both

[2 rows x 151 columns]

Name cleaning with 'name_clean_2' matched one more row than without name cleaning with the initial merge, as shown by the indicator in the left join.

# 3. Regex to separate companies from individuals (6 points)

You notice some employers in `debar_clean` have both the name of the company and the name of individual, e.g.:
    
COUNTY FAIR FARM (COMPANY) AND ANDREW WILLIAMSON (INDIVIDUAL)*

Use the uppercase/cleaned `name_clean` in `debar_clean`

A. Write a regex pattern that does the following:
    - Captures the pattern that occurs before COMPANY if (COMPANY) is in string; so in example above, extracts COUNTY FAIR FARM 
    - Captures the pattern that occurs before INDIVIDUAL if (INDIVIDUAL) is also in string -- so in above, extracts ANDREW WILLIAMSON (so omit the "and")
    
B. Test the pattern on `pos_example` and `neg_example`-- make sure former returns a list (if using find.all) or match object (if using re.search) with the company name and individual name separated out; make sure latter returns empty
    
**Hints and resources**: for step A, you can either use re.search, re.match, or re.findall; don't worry about matching B&R Harvesting and Paul Cruz (Individual)

- Same regex resources as above

In [20]:
pos_example = "COUNTY FAIR FARM (COMPANY) AND ANDREW WILLIAMSON (INDIVIDUAL)*"
neg_example = "CISCO PRODUCE INC"

debar_clean
## your code here to define the pattern
regex_co_ind_pattern = r"(.*)\s\(COMPANY\)\sAND\s(.*)\s\(INDIVIDUAL\)\*"


print(re.findall(regex_co_ind_pattern, pos_example))

## your code here to apply it to the negative example

print(re.findall(regex_co_ind_pattern, neg_example))

,Name,"City, State",Violation,Duration,Start date,End date,viol_number,Name_UC,name_clean,name_clean_2
6,ANNABELLA LAND & CATTLE,"Annabella, UT",Non Payment,1 year,5/9/2014,5/9/2015,viol,ANNABELLA LAND & CATTLE,ANNABELLA LAND & CATTLE,ANNABELLA LAND & CATTLE
7,AUTUMN HILL ORCHARD,"Groton, MA",Failure to respond to audit (no response),2 years,7/6/2014,7/5/2016,viol,AUTUMN HILL ORCHARD,AUTUMN HILL ORCHARD,AUTUMN HILL ORCHARD
8,"CADDO CREEK RANCH, DBA PARADISE RANCH","Caddo, TX",Failure to respond to audit (partial response),2 years,7/20/2014,7/19/2016,viol,"CADDO CREEK RANCH, DBA PARADISE RANCH","CADDO CREEK RANCH, DBA PARADISE RANCH","CADDO CREEK RANCH, DBA PARADISE RANCH"
11,LOEWEN HARVESTING LLC,"Brownsville, TX",Failure to respond to audit (partial response),1 year,8/20/2014,8/19/2015,viol,LOEWEN HARVESTING LLC,LOEWEN HARVESTING LLC,LOEWEN HARVESTING LLC
12,ROLLO FARM LABOR CONTRACTOR,"Miami, FL",Failure to respond to audit (no response),2 years,8/23/2014,8/22/2016,viol,ROLLO FARM LABOR CONTRACTOR,ROLLO FARM LABOR CONTRACTOR,ROLLO FARM LABOR CONTRACTOR
...,...,...,...,...,...,...,...,...,...,...
107,WALKER PLACE,"Danville, IL",Failure to comply with the employer's obligati...,2 months,11/19/2019,1/26/2020,viol,WALKER PLACE,WALKER PLACE,WALKER PLACE
108,COUNTY FAIR FARM (COMPANY) AND ANDREW WILLIAMS...,"Jefferson, ME",WHD Debarment,3 years,3/8/2017,3/8/2020,viol,COUNTY FAIR FARM (COMPANY) AND ANDREW WILLIAMS...,COUNTY FAIR FARM (COMPANY) AND ANDREW WILLIAMS...,COUNTY FAIR FARM (COMPANY) AND ANDREW WILLIAMS...
110,JESUS LEDESMA,"Mulberry, FL",Failure to Respond to Audit Request,2 years,2/8/18,2/8/20,viol,JESUS LEDESMA,JESUS LEDESMA,JESUS LEDESMA
112,B & R HARVESTING AND PAUL CRUZ (INDIVIDUAL),"Collins, GA",WHD Debarment,3 years,4/9/17,4/9/20,viol,B & R HARVESTING AND PAUL CRUZ (INDIVIDUAL),B & R HARVESTING AND PAUL CRUZ (INDIVIDUAL),B & R HARVESTING AND PAUL CRUZ (INDIVIDUAL)
113,DELIA ROJAS,"Lyons, GA",WHD Debarment,3 years,4/14/17,4/14/20,viol,DELIA ROJAS,DELIA ROJAS,DELIA ROJAS

[('COUNTY FAIR FARM', 'ANDREW WILLIAMSON')]
[]

C. Iterate over the `name_clean` column in debar and use regex to create two new columns in `debar_clean`:
   - `co_name`: A column for company (full `name_clean` string if no match; pattern before COMPANY if one extracted)
   - `ind_name`: A column for individual (full `name_clean` string if no match; pattern before INDIVIDUAL if one extracted)

In [21]:
# your code here
#create co_name and ind_name columns and set them to name_clean 
debar_clean["co_name"] = debar_clean["name_clean"]
debar_clean["ind_name"] = debar_clean["name_clean"]

for name in debar_clean["name_clean"]:
    #check if regex pattern returns a result 
    results = re.findall(regex_co_ind_pattern, name)
    if len(results) > 0 :
        #set the co_name column to the proper regex return value
        debar_clean.loc[debar_clean["name_clean"] == name, "co_name"] = results[0][0]
        #set the ind_name column to the proper regex return value
        debar_clean.loc[debar_clean["name_clean"] == name, "ind_name"] = results[0][1]

   
D. Print three columns for the rows in `debar_clean` containing the negative example and positive example described above (county fair farm and cisco produce):

- `name_clean`
- `co_name`
- `ind_name`
- `Violation`

**Note**: as shown in the outcome there may be duplicates of the same company reflecting different violations

In [22]:
# your code here

pos_example_test = debar_clean[debar_clean["name_clean"] == "COUNTY FAIR FARM (COMPANY) AND ANDREW WILLIAMSON (INDIVIDUAL)*"]
print(pos_example_test[["name_clean", "co_name", "ind_name", "Violation" ]])

neg_example_test = debar_clean[debar_clean["name_clean"] == "CISCO PRODUCE INC"]
print(neg_example_test[["name_clean", "co_name", "ind_name", "Violation" ]])

                                            name_clean           co_name  \
108  COUNTY FAIR FARM (COMPANY) AND ANDREW WILLIAMS...  COUNTY FAIR FARM

              ind_name      Violation
108  ANDREW WILLIAMSON  WHD Debarment
           name_clean            co_name           ind_name  \
19  CISCO PRODUCE INC  CISCO PRODUCE INC  CISCO PRODUCE INC
56  CISCO PRODUCE INC  CISCO PRODUCE INC  CISCO PRODUCE INC

                                     Violation
19   Failure to respond to audit (no response)
56  Impeding the Audit Process – Non- Response

# 4. Optional extra credit: Geospatial visualization (2 points)

Geocode the employer addresses in `jobs` and plot the addresses of jobs as points overlaid on a map of Georgia. This involves Googling and using external sources to figure out the code (a common practice in real-life data science), since we haven't spatial data in the course. 

**Hints:**
- Relevant columns include `EMPLOYER_ADDRESS_1` 
- The geocoding might have a long runtime, so feel free to implement it in a separate `.py` script that you submit alongside your notebook and to just read in the geocoded data

**Resources:**
- [Discussion of geocoding addresses -> lat/long](https://www.natasshaselvaraj.com/a-step-by-step-guide-on-geocoding-in-python/)
- [Discussion of plotting lat/long dots against a map using geopandas](https://towardsdatascience.com/plotting-maps-with-geopandas-428c97295a73)

In [23]:
## your code here